@import "layout/var";

.button-wrapper {
    display: flex;
    justify-content: center;

    &__button {
        border: none;
        outline: none;
        display: block;
        padding: 17px 18px;
        background: #50e3c2;
        color: #020202;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 3px;
        transition: background-color 0.3s;

        &:hover {
            background-color: #95bfe5;
        }
    }

    &--sm-theme {
        .button-wrapper__button {
            font-size: 14px;
            min-width: 150px;
            text-align: center;
            padding: 6px 15px;
            font-family: $medium;
        }
    }

    &--lower-theme {
        .button-wrapper__button {
            text-transform: inherit;
            border-radius: 6px;
            font-family: $medium;
        }
    }

    &--lg-theme {
        .button-wrapper__button {
            font-size: 21px;
            font-family: $medium;
            border-radius: 6px;
            padding: 8px 12px
        }
    }
}