@import "layout/var";

.human-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    
    &__linked {
        display: block;
        margin-left: 15px;
        width: 30px;
        flex-shrink: 0;

        svg {
            path {
                transition: fill 0.3s;
            }
        }

        &:hover {
            svg {
                path {
                    fill: #50e3c2;
                }
            }
        }
    }

    &__state {
        text-align: center;
        font-size: 18px;
    }
}